/*Змінні*/
:root {
    --body-text-color: #434455;
    --titele-color: #2E2F42;
    --bacground-footer-color: #2E2F42;
    --primary-brand-color: #4D5AE5;
    --white-title-color: #FFFFFF;
    --background-block-color: #E5E5E5;
    --accent-color: #E7E9FC;
    --bacground-button-color:  #F4F4FD;
    --button-active-color: #404BBF;
    --margin-left-gallery: 24px;
    --margin-top-gallery: 48px;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}


p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {

    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--body-text-color);
    
    
   
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.list {
    list-style: none;
}

.header {
    
    background-color: var(--white-title-color);
    border-bottom: 1px solid var(--accent-color);

}
.header>.container {
    display: flex;
    align-items: center ;
}

.navigation {
    display: flex;
    align-items: center ;
    margin-right: auto;
}


.logo {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
    text-decoration: none;
    
    
}
.logo-gap {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.logo .logo-first{
    color: var(--titele-color);
    
}

.navigation-list,
.contacts {
    display: flex;
    
}

.navigation-list .nav-item:not(:last-child) {
    margin-right: 40px;
}


.studio-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--titele-color);

}
.studio-link:hover,
.studio-link:focus {
    color: var(--titele-color);
}
.studio-link:active {
    color: var(--button-active-color);
}
.navigation-list .studio-link.current {
    color: var(--button-active-color);
}

.portfolio-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--titele-color);

}
.portfolio-link:hover,
.portfolio-link:focus {
    color: var(--titele-color);
}
.portfolio-link:active {
    color: var(--button-active-color);
}
.navigation-list .portfolio-link.current {
    color: var(--button-active-color);
}
.contacts-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--titele-color);
}


.contacts-link:hover,
.contacts-link:focus {
    color: var(--titele-color);
}
.contacts-link:active {
    color: var(--button-active-color);
}


.contacts-mail {
    display: block;
    margin-right: 40px;
    padding-top: 24px;
    padding-bottom: 24px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--body-text-color);
    
}
.contacts-mail:hover,
.contacts-mail:focus {
    color: var(--body-text-color);
}
.contacts-mail:active {
    color: var(--button-active-color);
}


.contacts-tel{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--body-text-color);
    

}
.contacts-tel:hover,
.contacts-tel:focus {
    color: var(--body-text-color);
}

.contacts-tel:active {
    color: var(--button-active-color);
}

/* -----------hero------------ */

.hero.section{
    padding-top: 188px;
    padding-bottom: 188px;
    
    text-align: center;
    background-color: var(--bacground-footer-color);
   
}


.hero-title {
    
    width: 496px;
    margin: 0 auto 48px;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white-title-color);
    

}
.hero-btn {
    display: inline-block   ;
    min-width: 169px;
    min-height: 56px;
    padding: 16px 32px;   

    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.19;
    align-items: center;
    letter-spacing: 0.04em;

    cursor: pointer;
    color: var(--white-title-color);
    background-color: var(--primary-brand-color);
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--button-active-color);

}
.hero-btn:active {
    background-color: var(--button-active-color:);
}

/* ------------about compan------------- */

.mision-list {
    display: flex;
    gap: 24px;
}
.mision-item {
    width: calc((100%-72px)/4);
}

.mision-item .title {
    margin-bottom: 8px;
}

.visually-hidden {
    
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--titele-color);
}
.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-doing.section {
    padding-top: 0;

}


.first-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--titele-color); 

}
.section-doing .first-title,
.team .first-title {
    margin-bottom: 72px;
}
.image {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.image-item {
    max-width: calc((100%-48px)/3);
}

.team {
    background-color: var(--bacground-button-color);
}
.team-items {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-list {
    max-width: calc((100%-72px)/4);

}



.team-card {
    
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--white-title-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team-list .title {
    margin-bottom: 8px;
    text-align: center;
}
.team-list .text {
    text-align: center;
    
}

/* --------------FOOTER--------------- */

.footer.section {
    background-color: var(--bacground-footer-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo {
    color: var(--bacground-button-color);
    
}

.footer .logo {
    margin-bottom: 16px;
}
.footer-text {
    max-width: 264px;
    
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color)
}


/* ----------------PORTFOLIO-------------- */

.portfolio.section {
    padding-top: 96px;
}
.button {
    display: flex;
    justify-content:center;
    margin-bottom: 72px;
    
}

.button .portfolio-list:not(:last-child) {
    margin-right: 24px;
}



.portfolio-btn {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;

    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--primary-brand-color);
    background-color: var(--bacground-button-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;

}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--white-title-color);
    background-color: var(--button-active-color);

}
.portfolio-btn:active {
    color: var(--white-title-color);
    background-color: var(--button-active-color);
}



.link {
    text-decoration: none;

}

.gallery {

    display: flex;
    flex-wrap: wrap;
    column-gap: var(--margin-left-gallery);
    row-gap: var(--margin-top-gallery);

}


.gallery > .gallery-list {
    background-color: var(--white-title-color);
    flex-basis: calc((100% - 48px) / 3);
    


}

.gallery-card {
    
    padding-top: 32px ;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--accent-color);
   

}
.gallery-card >.title {
    margin-bottom: 8px;
}

.gallery-list .text {
    color: var(--body-text-color);
}